*
/*-----Navigation Bar Section-----*/
{
    margin: 0;
    padding: 0;
}
#btn-back-to-top 
{
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}
body
{
    font-family: sans-serif;
}
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar
{
    background-image: linear-gradient(to right, #000,#f4a7bb);
    padding: 0 !important;
    color: #fff !important;
}
.navbar-brand img
{
    height: 60px;
    margin-left: 20px;
}
.navbar-nav li
{
    padding: 0 10px;
}
.navbar-nav li a
{
    color: #000 !important;
    font-weight: 600;
    float: right;
    text-align: left;
}
.nav-item .dropdown-menu
{
    border: 1px;
    background-color: transparent;
}
.dropdown-menu li a
{
    color: #000 !important;
    font-weight: 600;
    text-align: right;
}
.navbar .navbar-toggler
{
    border: 0px;
    background-color: transparent;
}
.bi-three-dots
{
    color: #000;
}
/*-----Banner Section-----*/
#banner
{
    background-image: linear-gradient(to right, #000,#f4a7bb);
    color: #fff !important;
}
.title-1
{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}
.title-2
{
    font-size: 25px;
    font-weight: 400;
    text-align: center;
}
.img-fluid
{
    max-height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.bottom-img
{
    width: 100%;
}
/*-----About Section-----*/
.me-img
{
    max-width:250px;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    border-radius: 50%;
}
.title
{
    margin-top: 50px; 
    margin-bottom: 50px; 
    text-align: center;
}
.title::after
{
    content: '';
    background: #f4a7bb;
    height: 5px;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: block;
}
#about .carousel-inner
{
    min-height: 550px;
    max-height: fit-content;
    margin-bottom: 50px;
}
#about .carousel-inner .carousel-item .row
{
    margin-left: 40px;
    margin-right: 40px;
}
.carousel-indicators,
.carousel-control-next,
.carousel-control-prev , .carousel-indicators
{
    filter: invert(100%);
}
.carousel-inner .carousel-item 
{
    transition: transform 2s ease-in-out;
}
.skills-img
{
    max-width:150px;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
/*-----Correlation Sessions Section-----*/

#correlationSessions
{
    background-color: #f4a7bb;
}
.top-img
{
    width: 100%;
}
#correlationSessions .accordion 
{
    margin-top: 50px;
    margin-bottom: 50px;
    --bs-accordion-bg: transparent;
    --bs-accordion-border-color: #000;
    --bs-accordion-active-bg: #000;
}
#correlationSessions .accordion-button
{
    box-shadow: none;
    font-size: 32px;
    color: #000;
}
#correlationSessions .accordion-button:not(.collapsed)
{
    box-shadow: none;
    font-size: 32px;
    color: #f4a7bb;
}
#correlationSessions .accordion-button::after
{
    background-image: url(images/icons/dash-square.svg);
    filter: invert(76%) sepia(5%) saturate(2565%) hue-rotate(297deg) brightness(95%) contrast(101%);
    margin-top: auto;
    margin-bottom: auto;
}
#correlationSessions .accordion-button.collapsed::after
{
    background-image: url(images/icons/plus-square.svg);
    filter: invert(0%) sepia(7%) saturate(7471%) hue-rotate(74deg) brightness(93%) contrast(106%);
    margin-top: auto;
    margin-bottom: auto;
}

.displayBar
{
    content: '';
    background: #000;
    height: 5px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
}
.displayBarMini
{
    content: '';
    background: #000;
    height: 5px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    display: block;
}
#correlationSessions .carousel-inner
{
    margin-bottom: 20px;
}
/*-----Contact Section-----*/
#contact
{
    background-color: #000;
    color: #f4a7bb;
}
.logo
{
    min-width: none;
    max-width: 180px;
}
.footer-box
{
    padding: 20;
    overflow-wrap: anywhere;
}
.footer-box .bi
{
    margin-right: 8px;
    font-size: 25;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 7px;
}
#contact .footer-box  a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
